[submodule "shot-server"]
	path = shot-server
	url = https://github.com/progressions/shot-counter.git
[submodule "shot-client-next"]
	path = shot-client-next
	url = https://github.com/progressions/shot-client-next.git
[submodule "shot-client"]
	path = shot-client
	url = https://github.com/progressions/shot-client.git
[submodule "legacy-client"]
	path = legacy-client
	url = https://github.com/progressions/shot-client.git
